
<section class="first-swiper">
   
      <h3>Nuestros servicios destacados.</h3>
      <ul class="lista-servicios">
          <li>
             <div class="servidor">
                <img src="https://media-exp1.licdn.com/dms/image/C5603AQE5wNcFHnFKlg/profile-displayphoto-shrink_200_200/0?e=1601510400&v=beta&t=jS-TLPWRRSpaV6PmnL5-q-iHMu7njsUOB2RpDDjiMaE" alt="imagen servidor">
                <p>Jose Angel Latorre</p>
             </div>
          </li>

          <li>
            <div class="servidor">
               <img src="https://media-exp1.licdn.com/dms/image/C5603AQFDsDUddpM8sg/profile-displayphoto-shrink_200_200/0?e=1601510400&v=beta&t=abFxNdYDDvlN6kfu1Z8Ls2CMrMoV5cblc7vUYyxhTv0" alt="imagen servidor">
               <p>Fercho Duty</p>
            </div>
         </li>

         <li>
            <div class="servidor">
               <img src="https://media-exp1.licdn.com/dms/image/C5603AQFDsDUddpM8sg/profile-displayphoto-shrink_200_200/0?e=1601510400&v=beta&t=abFxNdYDDvlN6kfu1Z8Ls2CMrMoV5cblc7vUYyxhTv0" alt="imagen servidor">
               <p>Fercho Duty</p>
            </div>
         </li>

         <li>
            <div class="servidor">
               <img src="https://media-exp1.licdn.com/dms/image/C5603AQE5wNcFHnFKlg/profile-displayphoto-shrink_200_200/0?e=1601510400&v=beta&t=jS-TLPWRRSpaV6PmnL5-q-iHMu7njsUOB2RpDDjiMaE" alt="imagen servidor">
               <p>Jose Angel Latorre</p>
            </div>
         </li>
      </ul>
   
</section>

